body{
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
main{
    margin: 20px 60px; 
}
/*******
section-1 
*******/
.flex-section{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
}
.title{
    width: 50%;
    padding: 20px 50px 0 80px;  
}
.title-header{
    font-size: 50px;
}
.photo{
    width: 100%;
}
.fa-angle-right{
    padding-left: 10px;
}
.live{
    color: azure;
    text-decoration: none;
    background-color: red;
    padding: 10px 30px;
    border-radius: 5px;
    transition: padding 1s;
}
.live:hover{
    background-color: green;
    padding: 15px 38px;
}
/* section-2 */

.flex-2{
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
    height: 200px;
    width: 300px;
}
.grid-section{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 10px;
}
.flex-master{
    display: flex;
    margin-top: 100px;
    gap: 30px;
}
.manubar{
    color: black;
    text-decoration: none;
    text-align: center;
    margin: 11px;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 5px;
}
#mark-menubar{
    color: azure;
    background-color: red;
}
.box{
    background-color: azure;
    border-radius: 10px;
    padding: 40px 20px;
    text-align: center;
}
.box-flex{
    display: flex;
    gap: 20px;
}
.view-all{
    text-align: center;
    margin: 50px 0;
    visibility: hidden;
}
.view-link{
    background-color: orangered;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 7px;
}

/**** footer ****/
.footer-section{
    background-color: black;
}
#footer-margin{
    margin: 0%;
}
.footer-header{
    color: whitesmoke;
    text-align: center;
    padding: 80px 0 20px 0;
}
.break-line{
    margin: 0 80px;
}
.footer-links{
    text-align: center;
    padding: 30px 0 40px 0;
}
.footer-link{
    color: azure;
    text-decoration: none;
    font-size: smaller;
    margin: 20px;
}
.social-icon{
    margin-top: 20px;
}
/*****************
media quary for mibile
********************/

@media screen and (max-width: 576px){
    .flex-section{
       flex-direction: column;
    }
    .flex-master{
        flex-direction: column;
    }
    .grid-section{
        grid-template-columns: repeat(1,auto);
    }
    .footer-link{
        display: block;
    }
}
/*****************
media quary for tab
 ******************/
@media screen and (min-width: 577px) and (max-width: 992px) {
    .flex-master{
        flex-direction: column;
    }
    .grid-section{
        grid-template-columns: repeat(2,auto);
    }
    .view-all{
        visibility: visible;
    }
}